body {
  font-family: Helvetica, Arial, sans-serif;
}

.photo-grid {
  max-width: 920px;
}
.photo {
  display: inline-block;
  /*width: 240px;*/
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  border: 1px #aaa solid;
  cursor: pointer;
}

.photo img {
  display: block;
  max-width: 240px;
  max-height: 240px;
  width: auto;
  height: auto;
}
.photo-user {
  padding-top: 4px;
  font-size: 9px;
  font-weight: bold;
}


.modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  margin: 1px 1px 1px 1px;
  padding: 10px 10px 10px 10px;
  border: 1px #555 solid;
  background-color: white;
}

.closebutton {
  position: absolute;
  right: 2px;
  top: -4px;
  cursor: pointer;
}

.shadowbox {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}

.modal img {
  display: block;
  width: auto;
  height: auto;
  max-height: 480px;
}


.modal-stats {
  padding-top: 4px;
  font-size: 11px;
  font-weight: bold;
}
.modal-comments-container {
  padding-top: 4px;
}
.modal-comment {
  font-size: 8px;
}
.modal-comment-username {
  font-weight: bold;
  padding-right: 4px;
}
