body {
  font-family: Helvetica, Arial, sans-serif;
}

.photo-grid {
  max-width: 920px;
}
.photo {
  display: inline-block;
  /*width: 240px;*/
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  border: 1px #aaa solid;
}

.photo img {
  display: block;
  max-width: 240px;
  max-height: 240px;
  width: auto;
  height: auto;
}


.photo-user {
  padding-top: 4px;
  font-size: 9px;
  font-weight: bold;
}
.photo-comments {
  margin-top: 6px;
}
.photo-comment {
  font-size: 8px;
}
.comment-username {
  font-weight: bold;
  padding-right: 4px;
}
